<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script type="module" src="js/index.js"></script>
<!-- <script type="module" src="js/map-markers.js"></script> -->
<script src="js/loadScreen.js"></script>
<footer id="foota"  class="hidden footer fixed-bottom  active">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center d-flex justify-content-center flex-column">
        <img src="/img/ecoreciclapp-no-bg.png" width="150" height="150" alt="Logo de tu empresa" class="footer-logo mx-auto">
        <p>Información para tu recolección al instante</p>
      </div>
      <div class="col-md-4 text-center d-flex justify-content-center flex-column">
        <h5>Enlaces</h5>
        <ul class="list-unstyled">
          <li><a href="http://localhost:3000/">Inicio</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-center d-flex justify-content-center flex-column">
        <h5>Síguenos</h5>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="www.facebook.com"><img width="50px" height="50px" src="/img/facebook.png"
                alt="Facebook"></a></li>
          <li class="list-inline-item"><a href="www.twitter.com"><img width="50px" height="50px" src="/img/twitter.png"
                alt="twitter"></a></li>
          <li class="list-inline-item"><a href="www.instagram.com"><img width="50px" height="50px"
                src="/img/instagram.png" alt="instagram"></a></li>
          <li class="list-inline-item"><a href="www.linkedin.com"><img width="50px" height="50px" src="/img/linkedin.png"
                alt="linkedin"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>
</html>