<%- include('../partials/header'); %>
    	<div id="loadScreen"  class="loader-wrapper">
      <div class="bg-home">
        <div class="loader animate__pulse"></div>
      </div>
	</div>
  
      <div class="container titulo">
            <h1 style="text-align: center">Seleccionar una Opción</h1>
            <br>
        <div class="row">
        <div class="col-md-6 col-sm-12 d-flex flex-column align-items-center text-center">
          <a href="/residuos" type="button" class="btn-round1 "></a>
          <h2>Mapa de Residuos</h2>
        </div>
        <div class="col-md-6 col-sm-12 d-flex flex-column align-items-center text-center">
          <a href="/registro" type="button" class="btn-round2"></a>
          <h2>Registrar Entidad</h2>
        </div>
        </div>
      </div>
<%- include('../partials/footer'); %>